src/crawler/smartphones.xsd

<!--
Created by Daniel Bastos e Tiago Andrade on 28/09/2015.
Trabalho: Integracao de Sistemas
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listofsmartphones">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="smartphone" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="brand"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:float" name="price"/>
              <xs:element type="xs:string" name="website"/>
              <xs:element name="extrainfo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="category" use="optional"/>
                      <xs:attribute type="xs:string" name="description" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>